.popup {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}


.popup {
  transition: opacity .8s, visibility .8s ease;
  visibility: hidden;
  opacity: 0;
}