.form__button_submit-title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .form__button_submit-title {
    font-size: 14px;
    line-height: 17px;
  }
}